body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background: #FFD60A;

}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003566;
    height: 100px;
    /* background: #003566; */
    font-size: 90px;
    margin: 30px 0px 0px;
    padding-bottom: 0px;
    font-family: 'Minecraft', sans-serif;
}

h2 {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003566;
    font-family: 'MinecraftiaRegular', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 30px;
}

h3 {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003566;
    font-family: 'MinecraftiaRegular', sans-serif;
    margin-top: 10px;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

button:hover {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
}

img:hover {
    filter: brightness(85%);
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Minecraft', sans-serif;
}

img {
    background-color: transparent;
    height: 150px;
    width: auto;
    padding: 20px;
}